.vscode/settings.json
*.db
.vs/Group-1-Project/v16/.suo
*.sqlite
.vs/Group-1-Project/v16/.suo
.vs/Group-1-Project/v16/Browse.VC.db
*.opendb
.vs/Group Project/v16/Browse.VC.db-wal
.vs/Group Project/v16/Browse.VC.db-shm
.vs/Group Project/v16/ipch/AutoPCH/13531d7c5b47590f/PLAN.ipch
.vs/Group Project/v16/ipch/AutoPCH/bc3268c32b450187/PHONE.ipch
Release/Group Project.exe.recipe
Release/Group Project.log
Release/Group Project.pdb
Release/Group Project.tlog/CL.command.1.tlog
Release/Group Project.tlog/CL.read.1.tlog
Release/Group Project.tlog/CL.write.1.tlog
Release/Group Project.tlog/Group Project.lastbuildstate
Release/Group Project.tlog/link.command.1.tlog
Release/Group Project.tlog/link.read.1.tlog
Release/Group Project.tlog/link.write.1.tlog
Release/Group Project.vcxproj.FileListAbsolute.txt
Release/main.obj
Release/Phone.obj
Release/vc142.pdb
.vscode/c_cpp_properties.json
.vs/Group Project/v16/.suo
.vs/Group Project/v16/Browse.VC.db
.vs/Group Project/v16/ipch/AutoPCH/7b8c69b23df6511e/MAIN.ipch
.vs/Group-1-Project/v16/.suo
.vs/Group-1-Project/v16/Browse.VC.db
.vs/slnx.sqlite
Group 1 Project/.vs/Group_1_Project/v16/.suo
Group 1 Project/.vs/Group_1_Project/v16/Browse.VC.db-shm
Group 1 Project/.vs/Group_1_Project/v16/Browse.VC.db-wal
Group 1 Project/.vs/Group_1_Project/v16/ipch/AutoPCH/5ed72690dec6fafc/PLAN.ipch
Group 1 Project/.vs/Group_1_Project/v16/ipch/AutoPCH/c6a22752cf26170e/MAIN.ipch
Group 1 Project/.vs/Group_1_Project/v16/ipch/AutoPCH/ff56606cdae5c9f7/PHONE.ipch
Group 1 Project/Group_1_Project.vcxproj.user
Group 1 Project/Group_1_Project.vcxproj.filters
Group 1 Project/.vs/Group_1_Project/v16/ipch/AutoPCH/5a613162358df6db/MAIN.ipch
Group 1 Project/.vs/Group_1_Project/v16/ipch/AutoPCH/81929b2310143d10/PHONE.ipch
Group 1 Project/.vs/Group_1_Project/v16/ipch/AutoPCH/82c6006e71ade5cb/PLAN.ipch
Group 1 Project/.vs/Group_1_Project/v16/ipch/AutoPCH/8d4be5f7e75f46dd/PLAN.ipch
Group 1 Project/.vs/Group_1_Project/v16/ipch/AutoPCH/f1966b080913d0e1/MAIN.ipch
Group 1 Project/x64/Release/Group_1_Project.exe.recipe
Group 1 Project/x64/Release/Group_1_Project.ilk
Group 1 Project/x64/Release/Group_1_Project.pdb
Group 1 Project/x64/Release/Group_1_Project.tlog/CL.command.1.tlog
Group 1 Project/x64/Release/Group_1_Project.tlog/CL.read.1.tlog
Group 1 Project/x64/Release/Group_1_Project.tlog/CL.write.1.tlog
Group 1 Project/x64/Release/Group_1_Project.tlog/Group_1_Project.lastbuildstate
Group 1 Project/x64/Release/Group_1_Project.log
Group 1 Project/x64/Release/Group_1_Project.tlog/link.command.1.tlog
Group 1 Project/x64/Release/Group_1_Project.tlog/link.read.1.tlog
Group 1 Project/x64/Release/Group_1_Project.tlog/link.write.1.tlog
Group 1 Project/x64/Release/Group_1_Project.vcxproj.FileListAbsolute.txt
Group 1 Project/x64/Release/main.obj
Group 1 Project/x64/Release/Phone.obj
Group 1 Project/x64/Release/Plan.obj
Group 1 Project/x64/Release/vc142.pdb
/Group 1 Project/.vs/Group 1 Project/v16/.suo
/Group 1 Project/x64/Release/Group-1-Project.vcxproj.FileListAbsolute.txt
/Group 1 Project/x64/Release/Group-1-Project.tlog/link.write.1.tlog
/Group 1 Project/x64/Release/Group-1-Project.tlog/link.read.1.tlog
/Group 1 Project/x64/Release/Group-1-Project.tlog/link.command.1.tlog
/Group 1 Project/x64/Release/Group-1-Project.tlog/Group-1-Project.lastbuildstate
/Group 1 Project/x64/Release/Group-1-Project.tlog/CL.write.1.tlog
/Group 1 Project/x64/Release/Group-1-Project.tlog/CL.read.1.tlog
/Group 1 Project/x64/Release/Group-1-Project.tlog/CL.command.1.tlog
/Group 1 Project/x64/Release/Group-1-Project.pdb
/Group 1 Project/x64/Release/Group-1-Project.log
/Group 1 Project/x64/Release/Group-1-Project.ilk
/Group 1 Project/x64/Release/Group-1-Project.exe.recipe
/Group 1 Project/x64/Release/Device.obj
/Group 1 Project/Group-1-Project.vcxproj.user
/Group 1 Project/Group-1-Project.vcxproj.filters
/Group 1 Project/Group-1-Project.vcxproj
/Group 1 Project/.vs/VSWorkspaceState.json
/Group 1 Project/.vs/ProjectSettings.json
/Group 1 Project/.vs/Group-1-Project/v16/ipch/AutoPCH/f298ef87f13a1095/MAIN.ipch
/Group 1 Project/.vs/Group-1-Project/v16/ipch/AutoPCH/d16cd62c0f97a422/MAIN.ipch
/Group 1 Project/.vs/Group-1-Project/v16/ipch/AutoPCH/a31de17448069e00/DEVICE.ipch
/Group 1 Project/.vs/Group-1-Project/v16/ipch/AutoPCH/7448287587dcacaf/MAIN.ipch
/Group 1 Project/.vs/Group-1-Project/v16/Browse.VC.db-wal
/Group 1 Project/.vs/Group-1-Project/v16/Browse.VC.db-shm
/Group 1 Project/.vs/Group-1-Project/v16/.suo
/Group 1 Project/.vs/Group 1 Project/v16/ipch/AutoPCH/e224cd00fa5dcda1/MAIN.ipch
*.exe
